<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="User_Id" connectionString="Dikla_Kalo"/>
    <add name="User_Password" connectionString="123456789"/> 
    <add name="ConnectionLoginStrings" connectionString="http://localhost:55241/api/User/Login"/>
    <add name="ConnectionLogoutStrings" connectionString="http://localhost:55241/api/User/Logout"/>
    <add name="ConnectionUpdateFilesPerUserStrings" connectionString="http://localhost:55241/api/User/UpdateFilesPerUser"/>
    <add name="Admin-Files" connectionString="http://localhost:55241/api/Admin/Files"/>
    <add name="DownloadPathFolder" connectionString="C:\\Users\\dor\\Desktop\\1down"/>
    <add name="UploadPathFolder" connectionString="C:\\Users\\dor\\Desktop\\1up"/>
    <add name="USER-IP" connectionString="127.0.0.4"/>
    <add name="IPAdressPerFile" connectionString="http://localhost:55241/api/User/IpAdressesPerFileID"/>
    <add name="User-Port" connectionString="8005"/>
  </connectionStrings>
</configuration>